services:
  db:
    image: postgres:18.0-alpine
    environment:
      POSTGRES_DB: socialnetwork
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
    ports:
      - "5432:5432"

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
