
.gopher-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #444444;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.gopher-form label {
    width: 100%;
}

.gopher-form input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #444444;
    background: #333333;
    color: #f4f4f4;
    width: 90%;
    justify-content: center;
}

.gopher-form button {
    width: 93%;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #333333;
    color: #f4f4f4;
    cursor: pointer;
    margin-top: 10px;
}

.gopher-form button:hover {
    background-color: #555555;
}

.gopher-form textarea {
    width: 90%;
    margin-top: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    background: #333333;
    color: #f4f4f4;
    border: 1px solid #444444;
}
